@use "../../scss/" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-fixed;
    padding: .75rem 0;
    background: transparent;
    transition: padding 0.3s;

    &.shrink {
        padding: 0;
        border-bottom: 2px solid hsla(0, 0%, 100%, .2);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: hsla(0, 0%, 0%, .3);
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
            z-index: -1;
        }
    }

    .nav {
        height: $header-height;
        @include flex(center, space-between);

        @media only screen and (min-width: 1152px) {
            height: $header-height;
            transition: height .4s;
        }

        .nav_logo {
            color: $title-color;
            font-size: $h2-font-size;
            font-family: $second-font;
            font-weight: $font-semi-bold;
        }

        .nav_toggle {
            display: flex;
            font-size: 1.25rem;
            color: $title-color;
            cursor: pointer;

            @media only screen and (min-width: 1023px) {
                display: none;
            }
        }

        .nav_menu {
            @media only screen and (max-width: 1023px) {
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                background-color: hsla(0, 0%, 0%, .3);
                padding-block: 4rem;
                box-shadow: $box-shadow;
                backdrop-filter: blur(24px);
                -webkit-backdrop-filter: blur(24px);
                transition: top .4s;
            }

            .nav_list {
                text-align: center;
                display: flex;
                flex-direction: column;
                row-gap: 2.5rem;

                @media only screen and (min-width: 1023px) {
                    flex-direction: row;
                    column-gap: 4rem;
                }

                .nav_item {

                    .nav_link {
                        position: relative;
                        color: $title-color;
                        font-weight: $font-medium;
                        font-family: $second-font;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 2px;
                            background-color: $title-color;
                            left: 0;
                            bottom: -.5rem;
                            transition: width .4s;
                        }

                        &:hover::after {
                            width: 70%;
                        }
                    }
                }
            }

            .nav_close {
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                display: none;
                font-size: 1.25rem;
                color: $title-color;
                cursor: pointer;

                @media only screen and (max-width: 1023px) {
                    display: flex;
                }
            }

            &.show_menu {
                top: 0;
            }
        }
    }
}