::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover{
  border-radius: .5rem;
  background-color: hsl(0, 0%, 30%);
}


